@model IEnumerable<HomeBookkeping.Models.Operation>
@{
    ViewBag.Title = "Поиск Операции";
}
<div>
    <div>
        <a asp-action="Index" asp-controller="Home">Главная</a>
    </div>
    <div>
        <form>
            <div class="form-group">
                <label>Название</label>
                <input type="text" class="form-control" name="Name">
            </div>
            <div class="form-group">
                <label>Действие</label>
                <input type="text" class="form-control" name="Action">
            </div>
            <div class="form-group">
                <label>Тип</label>
                <input type="text" class="form-control" name="Type">
            </div>
            <div class="form-group">
                <label>Вид</label>
                <input type="text" class="form-control" name="View">
            </div>
            <div class="form-group">
                <label>Сумма</label>
                <input type="number" class="form-control" name="Sum">
            </div>
            <div class="form-group">
                <label>Комент</label>
                <input type="text" class="form-control" name="Coment">
            </div>
            <button type="submit" class="btn btn-primary">Поиск</button>
        </form>
    </div>
    <div>
        <table class="table">
            <tr><td>Название</td><td>Действие</td><td>Тип</td><td>Вид</td><td>Сумма</td><td>Комент</td></tr>
            @foreach (var i in Model)
            {
                <tr><td>@i.Name</td><td>@i.Action</td><td>@i.Type</td><td>@i.View</td><td>@i.Sum</td><td>@i.Coment</td></tr>
            }
        </table>
    </div>
</div>
